<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="ATJRGh7Zi4Ncmtz3pn8hEj1_7S7CWxJsTfjwyoTR-ynyOXXWDODfOsd2ki5kO3-AtTdvA5eUiTi0zqJe"/>
      <add name="clientSecret" value="EKT12KEs8rrQjzq2l5ZWXVQ0v7KZkWrwEl8ZkMuFbWVq_PESeoQI5tplxam1VQyQrjA_gu6v7mE4NsbD"/>
    </settings>
  </paypal>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>